@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a, a:link {
    text-decoration: none;
    color: inherit;
}
.text-center {
    text-align: center;
}
.text-line {
    text-decoration: underline;
}
.d-none {
    display: none;
}
body {
    background: #fcf9ee;
    font: 14px/1.5 "Noto Sans KR";
    color: #000;
}
/* ==================header===================== */
header {
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 50px;
}
header nav {
    float: left;
    width: 400px;
    position: relative;
}
nav ul.gnb {
    width: 100%;
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    background: #fcf9ee;
}
nav ul.gnb > li {
    width: 33%;
    float: left;
}
nav ul.gnb > li > a {
    display: block;
    width: 100%;
    height: 35px;
}
nav ul.gnb > li > a:hover {
    text-decoration: underline;
}
nav ul.gnb > li > ul.submenu {
    display: none;
    width: 100%;
    height: 180px;
    background: #fcf9ee;
    padding: 30px 0;
}
nav ul.gnb > li > ul.submenu > li {
    width: 100%;
    height: 40px;
    background: #fcf9ee;
}
nav ul.gnb > li > ul.submenu > li >a {
    display: block;
    width: 100%;
    height: 100%;
}
.logo img {
    width: 120px;
    height: 50px;
}
.icon-links ul {
    display: flex;
    font-size: 18px;
}
.icon-links li {
    margin: 0 20px;
}
.top-link {
    font-size: 14px;
    display: flex;
    column-gap: 5px;
    margin: 30px 90px;
}
/* ==================gift page===================== */
#perfect-gift h2 {
    font-size: 2rem;
    margin: 50px 0 20px 0;
}
#perfect-gift p {
    width: 655px;
    margin: 30px auto;
    margin-bottom: 100px;
    font-size: 16px;
}
/* ==================scentfinder page===================== */
#scent-finder h2 {
    font-size: 2rem;
    margin: 50px 0 0 0;
}
#scent-finder p {
    width: 510px;
    margin: 30px auto;
    font-size: 16px;
}
#scent-finder button {
    width: 120px;
    background: #000;
    color: white;
    padding: 15px 0;
    font-size: 14px;
    margin: 0 0 50px 0;
}
/* ==================personal page===================== */
#personal h2 {
    font-size: 2rem;
    margin: 50px 0 0 0;
}
#personal p {
    width: 650px;
    margin: 20px auto;
    font-size: 16px;
}
/* ==================hero===================== */
.hero {
    max-width: 100%;
    margin: 0 auto;
}
.hero img {
    width: 100%;
}
#scent-hero img {
    width: 100%;
    height: 400px;
    margin: 0 0 100px 0;
}
#personal-hero {
    width: 100%;
    height: 400px;
    margin: 100px 0;
}
/* ==================section===================== */
.limit-wrap {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin: 150px 0;
}
.limit-item-wrap {
    display: block;
}
.limit-wrap img {
    width: 480px;
    height: 490px;
    margin: 0 30px;
}
#limit-name {
    text-align: center;
}
#limit-name p:first-child {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.limit-ad img {
    width: 480px;
    height: 500px;
    margin: 30px;
}
.archive {
    max-width: 1200px;
    margin: 0 auto;
}
.archive img {
    width: 100%;
}
#archivecollection {
    margin: 20px 0 50px 0;
}
#archivecollection p:first-child {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.travel-town {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin: 150px 0;
}
.travel-town img {
    width: 480px;
    height: 500px;
    margin: 30px;
}
#travelduo p:first-child {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
#towncollection p:first-child {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.main-carousel h3 {
    font-size: 2rem;
    margin: 50px 0;
}
#itemline {
    display: flex;
    justify-content: space-around;
}
#itemline img {
    width: 200px;
    height: 250px;
}
.carousel-item1 {
    display: block;
}
.summer-aroma {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin: 200px 0;
}
.summer-aroma img {
    width: 480px;
    height: 500px;
    margin: 30px;
}
#summer p:first-child {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
#aroma p:first-child {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
/* ==================gift section===================== */
.gift-carousel {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 150px 0;
}
.gift-carousel img {
    width: 200px;
}
.gift-side-wrap {
    max-width: 1200px;
    margin: 50px auto;
    font-size: 1.5em;
}
.gift-side1 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bdbdbd;
    padding: 40px 0;
}
.gift-side2 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bdbdbd;
    padding: 40px 0;
}
.gift-side3 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bdbdbd;
    padding: 40px 0;
}
.gift-side4 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bdbdbd;
    padding: 40px 0;
}
.viewbtn {
    display: flex;
    justify-content: center;
    margin: 100px;
}
.more{
    width: 140px;
    background: #000;
    color: white;
    padding: 15px 0;
    font-size: 14px;
}
.memorygift-wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.memorygift {
    font-size: 1.5rem;
    margin: 20px 0;
}
.memorygift-wrap p {
    margin: 20px 0;
}
.finder-wrap {
    max-width: 1200px;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.finder-wrap img {
    width: 550px;
    height: 400px;
    margin: 30px;
}
.gift-finder p{
    margin: 0 30px 30px;
}
.scent-finder p{
    margin: 0 30px 30px;
}
.finder-name {
    font-size: 1.5rem;
}
.finder-sub {
    font-size: 16px;
}
/* ==================scentfinder section===================== */
#scent-finder-sum {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 300px;
}
#scent-finder-sum p:first-child {
    font-size: 2rem;
    margin: 30px;
}
/* ==================personal section===================== */
.giftfinder-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #bdbdbd;
    max-width: 1200px;
    height: 600px;
    margin: 100px auto;
}
.giftfinder-box img {
    width: 500px;
    height: 480px;
}
.box-text p:first-child {
    font-size: 1.5rem;
}
.box-text p {
    margin: 20px;
}
.personal-colorcap {
    max-width: 1200px;
    display: block;
    margin: 0 100px;
}
.personal-colorcap p:first-child {
    font-size: 1.5rem;
}
.personal-colorcap p {
    margin: 20px 0 0 0;
}
.personal-colorcap-items {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 0 0 300px 0;
}
.personal-colorcap-items img {
    width: 300px;
}
.colorcap-items p {
    margin: 30px;
}
.preview {
    border: 1px solid #bdbdbd;
    background: none;
    padding: 10px 35px;
}
/* ==================basket section===================== */
.banner {
    max-width: 1200px;
    margin: 40px 50px;
}
.basket-name {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}
.red-text {
    color: red;
    display: block;
    margin: 50px 0 10px 30px;
}
.basket-wrap {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 100px;
}
.basket1 {
    width: 800px;
}
.shopbtn {
    display: flex;
    justify-content: right;
}
.shopbtn > button {
    background: #000;
    color: white;
    padding: 15px 100px;
    margin: 30px 0;
    border: 0;
}
.recom-item {
    display: block;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin: 10px 0;
}
.recommand {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 12px;
}
.price {
    margin: 30px 0 10px 0;
}
.text-center > button {
    border: 1px solid #bdbdbd;
    background: none;
    padding: 10px 35px;
}
.basket2 {
    width: 350px;
}
.article3 {
    border: 1px solid #bdbdbd;
    padding: 30px 20px;
    margin-bottom: 30px;
}
.article3 p {
    margin: 20px 0;
}
.article4 {
    border: 1px solid #bdbdbd;
    padding: 20px 20px;
}
.article4 p {
    margin: 10px 0;
}
/* ==================aside===================== */
#aside-wrap {
    max-width: 1200px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.aside1, .aside2 {
    border-right: 1px solid #bdbdbd;
    padding: 0 50px;
}
#aside-wrap p:first-child {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.aside3 {
    padding: 0 50px;
}
/* ==================terms-of-use===================== */
#use-wrap {
    display: flex;
    justify-content: center;
    column-gap: 150px;
    margin: 100px 0;
}
.use-cs li{
    margin: 50px 0;
}
.termsofuse {
    width: 830px;
}
.termsofuse h3 {
    font-size: 2rem;
    margin: 30px 0;
}
/* ==================footer===================== */
.footer {
    background: white;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
.footer-links {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    column-gap: 80px;
}
.cs {
    display: block;
}
.cs p {
    margin: 20px 0;
}
.company {
    display: block;
}
.company p {
    margin: 20px 0;
}
.sns {
    display: block;
}
.sns p {
    margin: 20px 0;
}
.footer-wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.footer-top {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.copyright {
    display: flex;
    column-gap: 30px;
}
.policy {
    display: flex;
}
.policy p {
    margin: 10px;
}
.footer-info p {
    margin: 10px 0;
}